REST-CLI.module/Schemas/SchemaRemoveUserFromRole.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="RemoveUserFromRole" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="RemoveUserFromRole">
  <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="RoleId" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="UserId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
